# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# IDE / Editor artifacts
.vscode/
.idea/
*.swp
*.swo

# Test & Coverage logs
.pytest_cache/
.coverage
htmlcov/
